*{
    margin: 0;
   padding: 0;
    box-sizing: border-box;
}
body{
    background:rgba(69, 5, 189, 0.911) ;
    display: flex;
    justify-content: center;
   align-items: center;
   height: 100vh;

}
.container{
    background: whitesmoke;
    border-radius: 15px;
    width: 300px;
    height: 400px;
     transition: 0.4s;
     box-shadow:  0 8px 10px rgba(0,0,0,0.2);
}
.container:hover{
    transform: translatey(-10px) scale(1);
    box-shadow: 0 0 15px rgba(0,0,0.2);

}
.center{
     text-align: center;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 4px;
    border-color: #4169e1;

 }
.name h2{

    font-size: 25px;
    color: rgb(61, 59, 59);
 }
.name p{
    font-size: 15px;
    color: rgb(148, 139, 139);
}

.del{
    display: flex;
    justify-content: center;
    column-gap: 70px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.del h3{
     color: #344bcc;
    font-size: 20px;
}
.del p{
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 66, 66);
   
}
.center{
    margin-top: 20px;
}
.btn{
    font-weight:300 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    margin-left: 100px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 4px rgb(44, 43, 43);
    cursor: pointer;
    color: aliceblue;
    font-size: 15px;
   
   background: linear-gradient(to right, rgb(47, 92, 189),blue,#1a0383);
}
.btn:hover{
    transform:scale(1.1) ;
   background: rgb(28, 110, 165);
}
.client center h3{
    color: rgb(19, 56, 175);
}
.para{
text-align: center;
width: 300px;
height: 10px;
margin-top: 20px;
}
  .para p{
   color: rgb(82, 79, 79);
  }

